.feature-card21-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.feature-card21-icon {
  fill: var(--dl-color-gray-500);
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.feature-card21-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card21-text {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}





@media(max-width: 1600px) {
  .feature-card21-icon {
    fill: #ffffff;
  }
  .feature-card21-text {
    color: #ffffff;
    font-family: Montserrat;
  }
  .feature-card21-text1 {
    color: #ffffff;
    font-family: Montserrat;
  }
}
@media(max-width: 1200px) {
  .feature-card21-icon {
    fill: #afafaf;
  }
  .feature-card21-text {
    color: #ffffff;
    font-family: Montserrat;
  }
  .feature-card21-text1 {
    color: #ffffff;
    font-family: Montserrat;
  }
}
@media(max-width: 767px) {
  .feature-card21-feature-card {
    flex-direction: row;
  }
  .feature-card21-container {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .feature-card21-container {
    flex-direction: column;
  }
}

.services-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
}
.services-hero {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  flex-direction: column;
  justify-content: flex-start;
}
.services-video {
  top: 0px;
  left: 0px;
  width: 100%;
  filter: opacity(0.6);
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.services-navbar {
  width: 100%;
  display: flex;
  z-index: 1000;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
.services-navlink {
  display: contents;
}
.services-branding {
  width: 224px;
  height: 62px;
  object-fit: cover;
  text-decoration: none;
}
.services-text {
  color: #ffffff;
}
.services-link {
  display: contents;
}
.services-text01 {
  color: #ffffff;
  font-family: Montserrat;
  text-decoration: none;
}
.services-link01 {
  display: contents;
}
.services-text02 {
  color: #ffffff;
  font-family: Montserrat;
  text-decoration: none;
}
.services-link02 {
  font-size: 18px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 600;
  text-decoration: none;
  background-color: rgb(6, 42, 64);
}
.services-burger-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.services-hamburger {
  cursor: pointer;
  display: none;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
  background-color: #0000F5;
}
.services-hamburger:hover {
  opacity: .5;
}
.services-icon {
  width: 60px;
  object-fit: cover;
}
.services-mobile-menu {
  top: 0px;
  left: 0px;
  color: var(--dl-color-gray-white);
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-black);
}
.services-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.services-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.services-navlink1 {
  display: contents;
}
.services-image {
  height: 2rem;
  text-decoration: none;
}
.services-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.services-icon01 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.services-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.services-text03 {
  margin-bottom: var(--dl-space-space-unit);
}
.services-text04 {
  margin-bottom: var(--dl-space-space-unit);
}
.services-text05 {
  margin-bottom: var(--dl-space-space-unit);
}
.services-text06 {
  margin-bottom: var(--dl-space-space-unit);
}
.services-container2 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.services-login {
  margin-right: var(--dl-space-space-twounits);
}
.services-icon-group {
  fill: var(--dl-color-gray-white);
  display: flex;
}
.services-icon03 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.services-icon05 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.services-icon07 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.services-hero-content {
  gap: var(--dl-space-space-fiveunits);
  flex: 1;
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.services-header-container {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.services-header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.services-heading {
  color: rgb(255, 255, 255);
  font-size: 100px;
  max-width: 790px;
  font-weight: 500;
}
.services-text07 {
  font-style: normal;
}
.services-caption {
  color: rgb(255, 255, 255);
  font-size: 24px;
  max-width: 600px;
  line-height: 36px;
}
.services-link03 {
  transition: 0.3s;
  text-decoration: none;
  background-color: rgb(6, 42, 64);
}
.services-link03:hover {
  width: 234px;
  height: 84px;
  opacity: 1;
  background-color: #0a4061;
}
.services-features {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: column;
}
.services-text14 {
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-threeunits);
}
.services-container3 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr;
}
.services-pricing {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.services-card {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
}
.services-container4 {
  display: flex;
  min-width: 150px;
  align-items: center;
  flex-direction: column;
}
.services-text15 {
  color: #ffffff;
  font-size: 1.5rem;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 300;
  text-transform: uppercase;
}
.services-text16 {
  color: #ffffff;
  font-size: 0.75rem;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 300;
  text-transform: uppercase;
}
.services-text17 {
  color: #ffffff;
  margin: var(--dl-space-space-halfunit);
  font-size: 4rem;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 500;
}
.services-text18 {
  color: #ffffff;
  font-size: 1.5rem;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 300;
}
.services-text19 {
  color: #ffffff;
  font-family: Montserrat;
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-sixunits);
}
.services-link04 {
  color: var(--dl-color-gray-white);
  flex-shrink: 0;
  font-family: Montserrat;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.services-card1 {
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
}
.services-container5 {
  display: flex;
  min-width: 150px;
  align-items: center;
  flex-direction: column;
}
.services-text20 {
  color: #ffffff;
  font-size: 1.5rem;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 300;
  text-transform: uppercase;
}
.services-text21 {
  color: #ffffff;
  font-size: 0.75rem;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 300;
  text-transform: uppercase;
}
.services-text22 {
  color: #ffffff;
  margin: var(--dl-space-space-halfunit);
  font-size: 4rem;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 500;
}
.services-text23 {
  color: #ffffff;
  font-size: 1.5rem;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 300;
}
.services-text24 {
  color: #ffffff;
  font-family: Montserrat;
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-sixunits);
}
.services-link05 {
  color: var(--dl-color-gray-white);
  flex-shrink: 0;
  font-family: Montserrat;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.services-card2 {
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
}
.services-container6 {
  display: flex;
  min-width: 150px;
  align-items: center;
  flex-direction: column;
}
.services-text31 {
  color: #ffffff;
  font-size: 1.5rem;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 300;
  text-transform: uppercase;
}
.services-text32 {
  color: #ffffff;
  margin: var(--dl-space-space-halfunit);
  font-size: 3rem;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 500;
}
.services-text33 {
  color: #ffffff;
  font-size: 1.5rem;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 300;
}
.services-text34 {
  color: #ffffff;
  font-family: Montserrat;
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-sixunits);
}
.services-link06 {
  color: var(--dl-color-gray-white);
  flex-shrink: 0;
  font-family: Montserrat;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.services-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.services-content {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: 924px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  border-color: #313133;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  border-top-width: 1px;
}
.services-main {
  gap: 240px;
  width: 100%;
  height: 492px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.services-branding1 {
  gap: var(--dl-space-space-twounits);
  width: 400px;
  height: 163px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.services-image1 {
  width: 389px;
  height: 67px;
  object-fit: cover;
}
.services-text35 {
  color: #ffffff;
  line-height: 24px;
}
.services-links {
  gap: 120px;
  left: 0px;
  bottom: 6px;
  height: 235px;
  display: flex;
  position: absolute;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
.services-container7 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.services-container8 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.services-column {
  gap: var(--dl-space-space-threeunits);
  color: white;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.services-header1 {
  color: #ffffff;
  font-size: 24px;
  font-style: italic;
  font-family: Montserrat;
  font-weight: 500;
}
.services-list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.services-link07 {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  font-family: Montserrat;
  line-height: 32px;
  text-decoration: none;
}
.services-link07:hover {
  opacity: .5;
}
.services-text38 {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  font-family: Montserrat;
  line-height: 32px;
  text-decoration: none;
}
.services-text38:hover {
  opacity: .5;
}
.services-link08 {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  font-family: Montserrat;
  line-height: 32px;
  text-decoration: none;
}
.services-link08:hover {
  opacity: .5;
}
.services-text39:hover {
  opacity: .5;
}
.services-link09 {
  color: #ffffff;
  font-family: Montserrat;
  line-height: 32px;
  text-decoration: none;
}
.services-column1 {
  gap: var(--dl-space-space-threeunits);
  color: white;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.services-header2 {
  color: #ffffff;
  font-size: 24px;
  font-style: italic;
  font-family: Montserrat;
  font-weight: 500;
}
.services-list1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.services-text41 {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  font-family: Montserrat;
  line-height: 32px;
  text-decoration: none;
}
.services-text41:hover {
  opacity: .5;
}
.services-link10 {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  font-family: Montserrat;
  line-height: 32px;
  text-decoration: none;
}
.services-link10:hover {
  opacity: .5;
}
.services-link11 {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  font-family: Montserrat;
  line-height: 32px;
  text-decoration: none;
}
.services-link11:hover {
  opacity: .5;
}
.services-link12 {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  font-family: Montserrat;
  line-height: 32px;
  text-decoration: none;
}
.services-link12:hover {
  opacity: .5;
}
.services-link13 {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  font-family: Montserrat;
  line-height: 32px;
  text-decoration: none;
}
.services-link13:hover {
  opacity: .5;
}
.services-column2 {
  gap: var(--dl-space-space-threeunits);
  color: white;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.services-header3 {
  color: #ffffff;
  font-size: 24px;
  font-style: italic;
  font-family: Montserrat;
  font-weight: 500;
}
.services-list2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.services-link14 {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  font-family: Montserrat;
  line-height: 32px;
  text-decoration: none;
}
.services-link14:hover {
  opacity: .5;
}
.services-link15 {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  font-family: Montserrat;
  line-height: 32px;
  text-decoration: none;
}
.services-link15:hover {
  opacity: .5;
}
.services-link16 {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  font-family: Montserrat;
  line-height: 32px;
  text-decoration: none;
}
.services-link16:hover {
  opacity: .5;
}
.services-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.services-text42 {
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
}
.services-link17 {
  display: flex;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: 0px;
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #05c3dd;
}
.services-icon09 {
  width: 24px;
  height: 24px;
}
@media(max-width: 1600px) {
  .services-container {
    background-color: #000000;
  }
  .services-branding {
    width: 199px;
    height: 55px;
  }
  .services-link02 {
    font-size: 18px;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 600;
    background-color: rgb(6, 42, 64);
  }
  .services-hamburger {
    display: none;
  }
  .services-heading {
    color: rgb(255, 255, 255);
    font-size: 100px;
    font-weight: 500;
  }
  .services-text07 {
    font-style: inherit;
    font-weight: 700;
  }
  .services-text08 {
    font-style: normal;
  }
  .services-caption {
    color: rgb(255, 255, 255);
    font-size: 24px;
    line-height: 36px;
  }
  .services-link03 {
    background-color: rgb(6, 42, 64);
  }
  .services-text11 {
    color: var(--dl-color-gray-black) #ffffff;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 500;
  }
  .services-text12 {
    color: #ffffff;
    font-style: normal;
    font-weight: 500;
  }
  .services-text13 {
    color: #ffffff;
    font-style: normal;
    font-weight: 500;
  }
  .services-text14 {
    color: #ffffff;
    font-size: 3rem;
  }
  .services-card {
    background-color: transparent;
  }
  .services-card1 {
    background-color: transparent;
  }
  .services-card2 {
    background-color: transparent;
  }
  .services-text35 {
    color: #ffffff;
  }
  .services-header1 {
    color: #ffffff;
  }
  .services-link07 {
    color: #ffffff;
  }
  .services-text38 {
    color: #ffffff;
  }
  .services-link08 {
    color: #ffffff;
  }
  .services-link09 {
    color: #ffffff;
  }
  .services-header2 {
    color: #ffffff;
  }
  .services-text41 {
    color: #ffffff;
  }
  .services-link10 {
    color: #ffffff;
  }
  .services-link11 {
    color: #ffffff;
  }
  .services-link12 {
    color: #ffffff;
  }
  .services-link13 {
    color: #ffffff;
  }
  .services-header3 {
    color: #ffffff;
  }
  .services-link14 {
    color: #ffffff;
  }
  .services-link15 {
    color: #ffffff;
  }
  .services-link16 {
    color: #ffffff;
  }
  .services-text42 {
    color: #ffffff;
  }
}
@media(max-width: 1200px) {
  .services-text {
    color: #fbfbfb;
    font-family: Montserrat;
  }
  .services-text01 {
    color: #ffffff;
    font-family: Montserrat;
  }
  .services-text02 {
    color: #ffffff;
  }
  .services-link02 {
    font-size: 18px;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 600;
    background-color: rgb(6, 42, 64);
  }
  .services-hamburger {
    display: none;
  }
  .services-hero-content {
    width: 1117px;
  }
  .services-link03 {
    font-family: Montserrat;
  }
  .services-card {
    background-color: transparent;
  }
  .services-text15 {
    color: #ffffff;
    font-family: Montserrat;
  }
  .services-text16 {
    color: #ffffff;
    font-family: Montserrat;
  }
  .services-text17 {
    color: #ffffff;
    font-family: Montserrat;
  }
  .services-text18 {
    color: #ffffff;
    font-family: Montserrat;
  }
  .services-text19 {
    color: #ffffff;
    font-family: Montserrat;
  }
  .services-link04 {
    border-color: #ffffff;
    border-width: 3px;
  }
  .services-card1 {
    background-color: transparent;
  }
  .services-text20 {
    color: #ffffff;
    font-family: Montserrat;
  }
  .services-text21 {
    color: #ffffff;
    font-family: Montserrat;
  }
  .services-text22 {
    color: #ffffff;
    font-family: Montserrat;
  }
  .services-text23 {
    color: #ffffff;
    font-family: Montserrat;
  }
  .services-text24 {
    color: #ffffff;
    font-family: Montserrat;
  }
  .services-link05 {
    border-color: #ffffff;
    border-width: 3px;
  }
  .services-card2 {
    background-color: transparent;
  }
  .services-text31 {
    color: #ffffff;
    font-family: Montserrat;
  }
  .services-text32 {
    color: #ffffff;
    font-family: Montserrat;
  }
  .services-text33 {
    color: #ffffff;
    font-family: Montserrat;
  }
  .services-text34 {
    color: #ffffff;
    font-family: Montserrat;
  }
  .services-link06 {
    border-color: #ffffff;
    border-width: 3px;
  }
  .services-image1 {
    height: 88px;
  }
  .services-text35 {
    color: #ffffff;
    font-family: Montserrat;
  }
  .services-header1 {
    color: #ffffff;
  }
  .services-link07 {
    color: #ffffff;
  }
  .services-text38 {
    color: #ffffff;
  }
  .services-link08 {
    color: #ffffff;
  }
  .services-link09 {
    color: #ffffff;
  }
  .services-header2 {
    color: #ffffff;
  }
  .services-text41 {
    color: #ffffff;
  }
  .services-link10 {
    color: #ffffff;
  }
  .services-link11 {
    color: #ffffff;
  }
  .services-link12 {
    color: #ffffff;
  }
  .services-link13 {
    color: #ffffff;
  }
  .services-header3 {
    color: #ffffff;
  }
  .services-link14 {
    color: #ffffff;
  }
  .services-link15 {
    color: #ffffff;
  }
  .services-link16 {
    color: #ffffff;
  }
  .services-text42 {
    color: #ffffff;
  }
}
@media(max-width: 991px) {
  .services-hero {
    padding-left: var(--dl-space-space-oneandhalfunits);
  }
  .services-text {
    color: #ffffff;
    font-family: Montserrat;
  }
  .services-text01 {
    color: rgb(255, 255, 255);
  }
  .services-text02 {
    color: rgb(255, 255, 255);
  }
  .services-link02 {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 600;
    background-color: rgb(6, 42, 64);
  }
  .services-hamburger {
    display: none;
  }
  .services-hero-content {
    width: 756px;
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .services-link03 {
    font-family: Montserrat;
    background-color: rgb(6, 42, 64);
  }
  .services-text11 {
    color: var(--dl-color-gray-black);
    font-family: Montserrat;
  }
  .services-text12 {
    color: #ffffff;
    font-style: normal;
    font-weight: 600;
  }
  .services-card {
    background-color: transparent;
  }
  .services-text15 {
    color: #ffffff;
  }
  .services-text16 {
    color: #ffffff;
  }
  .services-text17 {
    color: #ffffff;
    margin-left: var(--dl-space-space-oneandhalfunits);
    margin-right: var(--dl-space-space-oneandhalfunits);
  }
  .services-text18 {
    color: #ffffff;
  }
  .services-text19 {
    color: #ffffff;
    margin-left: var(--dl-space-space-threeunits);
    margin-right: var(--dl-space-space-threeunits);
  }
  .services-link04 {
    border-color: #ffffff;
    border-width: 4px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .services-card1 {
    background-color: transparent;
  }
  .services-text20 {
    color: #ffffff;
  }
  .services-text21 {
    color: #ffffff;
  }
  .services-text22 {
    color: #ffffff;
    margin-left: var(--dl-space-space-oneandhalfunits);
    margin-right: var(--dl-space-space-oneandhalfunits);
  }
  .services-text23 {
    color: #ffffff;
  }
  .services-text24 {
    color: #ffffff;
    margin-left: var(--dl-space-space-threeunits);
    margin-right: var(--dl-space-space-threeunits);
  }
  .services-link05 {
    border-color: #ffffff;
    border-width: 4px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .services-card2 {
    background-color: transparent;
  }
  .services-text31 {
    color: #ffffff;
  }
  .services-text32 {
    color: #ffffff;
    margin-top: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .services-text34 {
    color: #ffffff;
    margin-left: var(--dl-space-space-threeunits);
    margin-right: var(--dl-space-space-threeunits);
  }
  .services-link06 {
    border-color: #ffffff;
    border-width: 4px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .services-content {
    border-top-width: 0px;
  }
  .services-main {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .services-branding1 {
    width: 100%;
  }
  .services-image1 {
    width: 478px;
  }
  .services-header1 {
    color: #ffffff;
  }
  .services-link07 {
    color: #ffffff;
  }
  .services-text38 {
    color: #ffffff;
  }
  .services-link08 {
    color: #ffffff;
  }
  .services-link09 {
    color: #ffffff;
  }
  .services-header2 {
    color: #ffffff;
  }
  .services-text41 {
    color: #ffffff;
  }
  .services-link10 {
    color: #ffffff;
  }
  .services-link11 {
    color: #ffffff;
  }
  .services-link12 {
    color: #ffffff;
  }
  .services-link13 {
    color: #ffffff;
  }
  .services-header3 {
    color: #ffffff;
  }
  .services-link14 {
    color: #ffffff;
  }
  .services-link15 {
    color: #ffffff;
  }
  .services-link16 {
    color: #ffffff;
  }
  .services-text42 {
    color: #ffffff;
  }
}
@media(max-width: 767px) {
  .services-text {
    display: none;
  }
  .services-text01 {
    display: none;
  }
  .services-text02 {
    display: none;
  }
  .services-link02 {
    display: none;
  }
  .services-burger-menu {
    display: flex;
  }
  .services-hamburger {
    display: flex;
    background-color: #0656BF;
  }
  .services-image {
    height: 73px;
  }
  .services-icon01 {
    width: 66px;
    height: 65px;
  }
  .services-hero-content {
    width: 495px;
  }
  .services-heading {
    font-size: 60px;
  }
  .services-link03 {
    font-family: Montserrat;
  }
  .services-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .services-container3 {
    grid-template-columns: 1fr;
  }
  .services-pricing {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .services-card {
    width: 100%;
    flex-direction: column;
  }
  .services-text19 {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .services-card1 {
    width: 100%;
    flex-direction: column;
  }
  .services-text24 {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .services-card2 {
    width: 100%;
    flex-direction: column;
  }
  .services-text34 {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .services-footer {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .services-image1 {
    width: 386px;
    height: 90px;
  }
  .services-text35 {
    color: #ffffff;
  }
  .services-links {
    gap: var(--dl-space-space-fiveunits);
    flex-direction: row;
  }
  .services-header1 {
    color: #ffffff;
  }
  .services-link07 {
    color: #ffffff;
  }
  .services-text38 {
    color: #ffffff;
  }
  .services-link08 {
    color: #ffffff;
  }
  .services-link09 {
    color: #ffffff;
  }
  .services-header2 {
    color: #ffffff;
  }
  .services-text41 {
    color: #ffffff;
  }
  .services-link10 {
    color: #ffffff;
  }
  .services-link11 {
    color: #ffffff;
  }
  .services-link12 {
    color: #ffffff;
  }
  .services-link13 {
    color: #ffffff;
  }
  .services-header3 {
    color: #ffffff;
  }
  .services-link14 {
    color: #ffffff;
  }
  .services-link15 {
    color: #ffffff;
  }
  .services-link16 {
    color: #ffffff;
  }
  .services-text42 {
    color: #ffffff;
  }
  .services-link17 {
    color: #05c3dd;
    background-color: #05c3dd;
  }
}
@media(max-width: 479px) {
  .services-branding {
    padding-top: var(--dl-space-space-unit);
  }
  .services-text {
    display: none;
  }
  .services-text01 {
    display: none;
  }
  .services-text02 {
    display: none;
  }
  .services-link02 {
    display: none;
  }
  .services-hamburger {
    display: flex;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-unit);
    background-color: #0656BF;
  }
  .services-icon {
    width: 30px;
  }
  .services-mobile-menu {
    top: 12px;
    right: -493px;
    width: 479px;
    height: 1340px;
    padding: 16px;
  }
  .services-image {
    height: 87px;
  }
  .services-icon01 {
    width: 61px;
    height: 59px;
  }
  .services-hero-content {
    gap: var(--dl-space-space-threeunits);
    width: 320px;
  }
  .services-heading {
    font-size: 36px;
  }
  .services-caption {
    font-size: 16px;
    line-height: 24px;
  }
  .services-link03 {
    text-align: center;
    font-family: Montserrat;
  }
  .services-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .services-pricing {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .services-text19 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .services-text24 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .services-text34 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .services-main {
    height: 608px;
    align-items: center;
  }
  .services-image1 {
    width: 271px;
    height: 57px;
  }
  .services-text35 {
    color: #ffffff;
  }
  .services-links {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
  .services-column {
    width: 80px;
    height: 196px;
    align-self: flex-start;
  }
  .services-header1 {
    color: #ffffff;
    font-family: Montserrat;
  }
  .services-link07 {
    color: #ffffff;
    font-family: Montserrat;
  }
  .services-text38 {
    color: #ffffff;
    font-family: Montserrat;
  }
  .services-link08 {
    color: #ffffff;
    font-family: Montserrat;
  }
  .services-link09 {
    color: #ffffff;
  }
  .services-column1 {
    gap: var(--dl-space-space-twounits);
    height: 226px;
  }
  .services-header2 {
    color: #ffffff;
  }
  .services-list1 {
    flex-direction: column;
  }
  .services-text41 {
    color: #ffffff;
    font-family: Montserrat;
  }
  .services-link10 {
    color: #ffffff;
    font-family: Montserrat;
    border-color: var(--dl-color-gray-black);
    border-width: 0px;
  }
  .services-link11 {
    color: #ffffff;
    font-family: Montserrat;
  }
  .services-link12 {
    color: #ffffff;
    font-family: Montserrat;
  }
  .services-link13 {
    color: #ffffff;
    font-family: Montserrat;
  }
  .services-column2 {
    gap: var(--dl-space-space-twounits);
    width: 65px;
    align-items: flex-start;
  }
  .services-header3 {
    color: #ffffff;
    font-family: Montserrat;
  }
  .services-link14 {
    color: #ffffff;
    font-family: Montserrat;
  }
  .services-link15 {
    color: #ffffff;
    font-family: Montserrat;
  }
  .services-link16 {
    color: #ffffff;
    font-family: Montserrat;
  }
  .services-bottom {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: center;
  }
  .services-text42 {
    color: #ffffff;
  }
  .services-link17 {
    justify-content: center;
    background-color: #05c3dd;
  }
  .services-icon09 {
    fill: #ffffff;
  }
}
