.feature-card21-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.feature-card21-icon {
  fill: #ffffff;
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.feature-card21-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card21-text {
  color: #ffffff;
  font-family: Montserrat;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.feature-card21-text1 {
  color: #ffffff;
  font-family: Montserrat;
}





@media(max-width: 1600px) {
  .feature-card21-icon {
    fill: #ffffff;
  }
  .feature-card21-text {
    color: #ffffff;
    font-family: Montserrat;
  }
  .feature-card21-text1 {
    color: #ffffff;
    font-family: Montserrat;
  }
}
@media(max-width: 1200px) {
  .feature-card21-icon {
    fill: #afafaf;
  }
  .feature-card21-text {
    color: #ffffff;
    font-family: Montserrat;
  }
  .feature-card21-text1 {
    color: #ffffff;
    font-family: Montserrat;
  }
}
@media(max-width: 767px) {
  .feature-card21-feature-card {
    flex-direction: row;
  }
  .feature-card21-container {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .feature-card21-container {
    flex-direction: column;
  }
}
